<header class="campaign">
  <h1><%= @campaign.title %></h1>
</header>

<section class="description subsection">
  <% if !@campaign.message.blank? %>
  <div class="bubble">
    <p><%= @campaign.message %>
  </div>
  <% end -%>

  <div class="organiser">
    <p><%= gravatar_image_tag(@campaign.user_email, :alt => @campaign.user_name, :gravatar => { :size => 50, :default => 'mm' }) %> <span class="name"><%= @campaign.user_name %></span></p>
  </div>
</section><!-- description -->

<section class="pay subsection">
  <h1>Pay <%= campaign_amount(@campaign) %> to <%= @campaign.user_name %></h1>
  <p class="paypal-button">
  <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/x-click-but6.gif"), new_campaign_payment_path(@campaign), 'data-no-turbolink' => true %>
  </p>
  <p class="paid-in-cash">Already <a href="#">paid in cash?</a></p>
</section>

<section class="payers subsection">
  <h1>People who have contributed</h2>

  <% if @payments_completed.size > 0 %>
  <ul>
    <% @payments_completed.each do |payment| %>
      <li><%= gravatar_image_tag(payment.user_email, :alt => payment.user_name, :gravatar => { :size => 30, :default => 'mm' }) %><%= payment.user_name %></li>
    <% end %>
  </ul>
  <% else %>
  <p>No one yet :(</p>
  <% end %>
</section><!-- payers -->
  
<section class="share subsection">
  <h1>Share &amp; tell</h1>
  <p><label>Permalink to this page (copy and paste on Twitter, Facebook, etc.):<br>
    <input type="text" value="<%= polymorphic_url @campaign %>" class="permalink" readonly onClick="javascript:this.focus();this.select();"></label></p>
  <p>Or you can also:</p> 
  <p><%= mail_to '', 'Tell people via email', :subject => @email_data[:subject], :body => @email_data[:body], :class => 'button-ok single' %></p>
</share>
