<%- @page_title = @campaign.title -%>
<header class="campaign">
  <h1><%= @campaign.title %></h1>
</header>

<% unless @campaign.message.blank? %>
<section class="description subsection">
  <div class="bubble">
    <p><%= @campaign.message %>
  </div>

  <div class="organiser">
    <p><%= gravatar_image_tag(@campaign.user_email, :alt => @campaign.user_name, :gravatar => { :size => 50, :default => 'mm' }) %> <span class="name"><%= @campaign.user_name %></span></p>
  </div>
</section><!-- description -->
<% end -%>

<section class="pay subsection">
  <h1><i class="icon-money icon-dimmed"></i> Pay <%= campaign_amount(@campaign) %> to <%= @campaign.user_name %></h1>
  <p class="paypal-button">
  <%= link_to image_tag("buy.gif"), campaign_payments_path(@campaign), method: :post %>
  </p>
</section>

<section class="payers subsection">
  <h1><i class="icon-group icon-dimmed"></i> People who have contributed</h2>

  <% if @payments_completed.size > 0 %>
  <ul>
    <% @payments_completed.each do |payment| %>
      <li><%= gravatar_image_tag(payment.user_email, :alt => payment.user_name, :gravatar => { :size => 30, :default => 'mm' }) %><%= payment.user_name %></li>
    <% end %>
  </ul>
  <% else %>
  <p>No one yet :(</p>
  <% end %>
</section><!-- payers -->

<section class="share subsection">
  <h1><i class="icon-share icon-dimmed"></i> Share &amp; tell</h1>
  <p class="no-touch desktop-only"><label>Permalink to this page (copy and paste on Twitter, Facebook, etc.):<br>
    <input type="text" value="<%= campaign_url @campaign %>" class="permalink" readonly></label></p>
  <p class="no-touch desktop-only">Or you can also:</p>

  <p><%= mail_to '', '<i class="icon-envelope-alt"></i>  Tell people via email'.html_safe, :subject => @email_data[:subject], :body => @email_data[:body], :class => 'button-ok single' %></p>
</share>
