<!DOCTYPE html>
<html>
<head>
  <title>Splitpay.At<%= @page_title ? " - #{@page_title}" : "" %></title>

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" charset="utf-8">
    window.addEventListener("load",function() {
      setTimeout(function(){ window.scrollTo(0, 0); }, 0);
    });
  </script>
</head>
<body>
  <header class="main-header">
    <div class="wrapper">
      <h1><a href="<%= url_for root_path %>">SplitPay<span class="highlight">.At</span></a></h1>
      <nav class="main-menu">
        <ul>
          <li><%= link_to new_campaign_path do -%><i class="icon-bullhorn"></i>Start campaign<% end -%></li>
          <% if logged_in? -%>
            <li><%= link_to logout_path do %><i class="icon-signout"></i>Logout<% end -%></li>
          <% else -%>
            <li><%= link_to login_path do %><i class="icon-user"></i>Login<% end -%></li>
          <% end -%>
          </li>
        </ul>
        </nav>
      </div>
      </header>
      <div class="outer-wrapper"><div class="main-wrapper">
          <section class="main">
          <%= yield %>
          </section>
      </div></div><!-- main wrapper -->
      <footer class="main-footer">
      <div class="wrapper">
        <p class="left">Coded with love for <strong>Rails Rumble 2012</strong> by
        <a href="http://www.twitter.com/ernesto_jimenez">@ernesto_jimenez</a> and <a href="http://www.twitter.com/ladybenko">@ladybenko</a>
        </p>
      </div>
      </footer>
<%- if Rails.env.production? -%>
<script type="text/javascript">
function woopraReady(tracker) {
    tracker.setDomain('splitpay.at');
    tracker.setIdleTimeout(300000);
    tracker.track();
    return false;
}
(function() {
    var wsc = document.createElement('script');
    wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
    wsc.type = 'text/javascript';
    wsc.async = true;
    var ssc = document.getElementsByTagName('script')[0];
    ssc.parentNode.insertBefore(wsc, ssc);
})();
</script>
<% end -%>
</body>
</html>
